@model IEnumerable<ProTechTiveGear.Models.Menu>
@using ProTechTiveGear.Models;
@{

	Customer acc = (Customer)Session["usr"];
	string username = "";
	if (Request.Cookies["usr"] != null)
	{
		username = Request.Cookies["usr"].Value;

	}

}

<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav">
        <li class="dropdown submenu">
            <a class="dropdown-toggle" href="@Url.Action("Index","VegetablesStore")" role="button" aria-haspopup="true" aria-expanded="false">Trang chủ</a>

        </li>
        @foreach (var item in Model)
        {
            <li class="dropdown submenu">
                <a class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">@item.Name</a>
                <ul class="dropdown-menu">
                    @Html.Action("ItemMenuType", "VegetablesStore", new { id = item.ID })
                    @Html.Action("Brandtype", "VegetablesStore", new { id = item.ID })

                </ul>
            </li>






        }
       
        <li class="dropdown submenu">
            <a class="dropdown-toggle" href="@Url.Action("Contact","VegetablesStore")" role="button" aria-haspopup="true" aria-expanded="false">Liên Hệ</a>

        </li>
        <li class="search_icon"><a class="popup-with-zoom-anim" href="#test-search"><i class="icon icon-Search"></i></a></li>
        @Html.Action("CartPartial", "Cart")
        

    </ul>

</div>
